@use 'variables' as *;

#home-screen{
    width: 100%;
    height: 100%;
    background-color: #303131;
    display: flex;
    justify-content: center;
    align-items: center;
};

.home-text {
    color: white;

    p {
        font-size: 3rem;
    }

    h1 {
        font-size: 8.75rem;
        padding: $padding-16tb;
    }
};

.home-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-16tb;

    button{
        font-size: 3rem;
        cursor: pointer;
    }
};