// Screens
@use 'home';
@use 'settings';
@use 'game';
@use 'popup';
@use 'game-over';
@use 'win-screen';


// Font-Faces
@font-face {
  font-family: 'Almarai';
  src: url('/assets/fonts/Almarai/Almarai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Almarai';
  src: url('/assets/fonts/Almarai/Almarai-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Red Rose';
  src: url('/assets/fonts/Red_Rose/static/RedRose-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Red Rose';
  src: url('/assets/fonts/Red_Rose/static/RedRose-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/assets/fonts/Orbitron/static/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/assets/fonts/Orbitron/static/Orbitron-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree/static/Figtree-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('/assets/fonts/Figtree/static/Figtree-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Klee One';
  src: url('/assets/fonts/Klee_One/KleeOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Klee One';
  src: url('/assets/fonts/Klee_One/KleeOne-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Almarai', Arial, sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    width: 1440px;
    height: 100%;
}


.screen {
  display: none;
  &.active {
    display: block;
  }
}