// Screens
@use 'home';
@use 'settings';
@use 'game';
@use 'popup';
@use 'game-over';

// Themes
@use 'themes/coding-vibes';
@use 'themes/gaming';
@use 'themes/da-projects';
@use 'themes/foods';

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    width: 1440px;
    height: 100%;
}


.screen {
  display: none;
  &.active {
    display: block;
  }
}